<!-- <br>
<h1 style="text-align: center;">REGISTRO DE GRUPOS</h1>
<hr>
<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/horarios"><i class="fa fa-arrow-left"> REGRESAR</i></button>
    </div>
</div>

<div class="row animated fadeIn fasted">
    <div class="col">
        <form (ngSubmit)="guardar(f)" #f="ngForm">
            <div class="form-group">
                <label>FIREBASE ID</label>
                <input type="text" name="" class="form-control" disabled="disabled" placeholder="FIREBASE ID" [(ngModel)]="horario.idHorario" name="id" required>
                <small class="form-text text-mutted">ESTE CAMPO ES AUTOGENERADO</small>
            </div>

            <div class="form-group">
                <label>DOCENTE</label>
                <input type="text" name="" class="form-control" placeholder="NOMBRE GRUPO" [(ngModel)]="horario.docente" name="nombre" required>
            </div>

            <div class="form-group">
                <label>GRUPO</label>
                <input type="text" name="" class="form-control" placeholder="NOMBRE GRUPO" [(ngModel)]="horario.grupo" name="nombre" required>
            </div>

            <div class="form-group">
                <label>ESTADO</label>
                <input type="text" name="" class="form-control" placeholder="NOMBRE GRUPO" [(ngModel)]="horario.estado" name="nombre" required>
            </div>

            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25"><i class="fa fa-save"></i> GUARDAR</button>
            </div>
        </form>
    </div>
</div> -->